@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: #d6e2f0;
  font-family: "Outfit", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0.75rem;
  width: 14rem;
  text-align: center;
  margin: 1.2rem auto;
  border-radius: 10px;
}
.qr-img {
  width: 100%;
  border-radius: 10px;
}
.qr-text {
  padding: 0.5rem;
}

.qr-about {
  color: #1f3251;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.qr-info {
  color: hsl(220, 15%, 55%);
  font-size: 0.9rem;
}

.attribution {
  font-size: 0.625rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
